body {
  background-color: #a06cd5;
}

.App {
  text-align: center;
}

#Title {
  color: #102b3f;
}

#Shop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3vw 3vh;
}

#FiltersContainer {
  max-width: 20vw;
}

#Length {
  display: flex;
  flex-direction: column;
}

#Graphic {
  display: flex;
  flex-direction: column;
}

#Menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 70vw;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

/*MODAL*/

#Cart {

}

#CartButton {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0/var(--tw-bg-opacity));
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  position: fixed;
  right: 0;
  bottom: 0;
  cursor: pointer;
}


#CartIcon {
  color: rgb(255 255 255);
  width: 2rem;
  height: 2rem;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 2vw;
}

.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 16px;
  background: #ff0000;
  color: #fff;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 2rem;
  margin-bottom: 6rem;
}

#CartModalContent {
  width: 40vw;
  height: 80vh;
}

#CartHeading {

}

/* Close button */
.close {
  color: #fff;
  background-color: #ff0000;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #333;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.CartEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.CartItemName {

}

.CartItemPrice {

}

.CartItemDescription {
  font-size: 14px;
  font-style: italic;
}

.ItemRemove {
  color: #fff;
  background-color: #ff0000;
  font-size: 14px;
  border-radius: 7px;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ItemRemove:hover,
.ItemRemove:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

#TotalPrice {

}

